page-pad-order {
  .n-draft {
    color: #ef473a
  }

  .n-submit {
    color: #1d82d2
  }

  .n-confirm {
    color: #1d82d2
  }

  .n-checkout {
    color: #ccc,
  }

  .div-date {
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 13px;
    height: 33px;
    background-color: #f5f5f5;
  }
}
