page-login .btn-box {
  margin-top: 15px;
}

page-login .link-center-text {
  text-align: center;
}

page-login .logo {
  padding-top: 40px;
  text-align: center;
}

page-login .logo img {
  max-width: 200px;
}

page-login .weixin-box {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
