page-sms-config-detail {
  .divider-light {
    color: #878787;
    background-color: #f5f5f5;
    padding-left: 16px;
    padding-right: 8px;
  }

  .p-info {
    padding-left: 16px;
    padding-right: 16px;
    color: #8e9093;
  }
}
