<ion-header>
  <ion-navbar color="primary">
    <ion-title>详情</ion-title>
    <ion-buttons end>
      <button ion-button (tap)="save()">
        <span>保存</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>名称<span color="danger" class="c-danger">*</span></ion-label>
      <ion-input text-right item-right [(ngModel)]="cfg.name" type="text" placeholder="请输入"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>服务商<span color="danger" class="c-danger">*</span></ion-label>
      <ion-select [(ngModel)]="cfg.supplier" okText="确定" cancelText="关闭">
        <ion-option value="dianxin">电信</ion-option>
        <ion-option value="aliyun">阿里云</ion-option>
      </ion-select>
    </ion-item>
    <div *ngIf="cfg.supplier==='aliyun'">
      <ion-item>
        <ion-label>Access Key Id<span color="danger" class="c-danger">*</span></ion-label>
        <ion-input text-right item-right [(ngModel)]="cfg.aliyun_access_key_id" type="text" placeholder="请输入"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Access Key Secret<span color="danger" class="c-danger">*</span></ion-label>
        <ion-input text-right item-right [(ngModel)]="cfg.aliyun_access_key_secret" type="text" placeholder="请输入"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>企业用户</ion-label>
        <ion-toggle [(ngModel)]="cfg.aliyun_is_company" checked="false"></ion-toggle>
      </ion-item>
      <ion-item-group>
        <ion-item-divider class="divider-light">
          短信签名
          <span color="primary" style="float:right" (tap)="addSign()">添加</span>
        </ion-item-divider>
        <ion-list style="margin:0">
          <ion-item-sliding *ngFor="let s of cfg.aliyun_sign_name_ids">
            <ion-item (tap)="editSign(s)">
              <h2>{{s.name}}</h2>
              <p>类型：{{s.type_display_name}}</p>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button color="danger" (tap)="removeSign(s)">
                删除
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
        <p class="p-info">个人用户最多可以创建1个自定义短信签名；企业用户最多可以创建5个自定义短信签名。</p>
      </ion-item-group>
    </div>

    <div *ngIf="cfg.supplier==='dianxin'">
      <ion-item>
        <ion-label>应用ID<span color="danger" class="c-danger">*</span></ion-label>
        <ion-input text-right item-right [(ngModel)]="cfg.dx_app_id" type="text" placeholder="请输入"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>应用密钥<span color="danger" class="c-danger">*</span></ion-label>
        <ion-input text-right item-right [(ngModel)]="cfg.dx_app_secret" type="text" placeholder="请输入"></ion-input>
      </ion-item>
      <div *ngIf="editMode">
        <br />
        <ion-item>
          <h2>访问令牌</h2>
          <p>{{cfg.dx_access_token}}</p>
        </ion-item>
        <ion-item>
          <ion-label>令牌失效时间</ion-label>
          <ion-note item-right>{{cfg.dx_token_expires_at}}</ion-note>
        </ion-item>
      </div>
    </div>
  </ion-list>
</ion-content>
