page-sms-template-edit {
  .border-div {
    border: 1px;
    border-style: solid;
    border-color: #E5E5E5;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
  }

  .content-div {
    padding: 15px;
  }

  .content-p {
  }
}
