page-application {
  .content-bg {
    background-color: #EBEFED;
  }

  .list-line {
    background-color: #EBEFED;
    height: 1px;
    margin: 0px 15px;
  }

  .list-box {
    background-color: #FFFFFF;
    margin-bottom: 5px;
  }

  .icon28 {
    font-size: 28px;
  }

  .bnt-box {
    background-color: #ffffff;
  }

  .bnt-box-text {
    margin-top: 5px;
  }

  .row-line {
    padding: 4px 0px
  }

  .row-col {
    margin: 4px 0;
  }
}
