page-member-selector {
  .item-p16 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .item-p10 {
    padding-left: 0;
    padding-right: 10px;
  }

  .item-div {
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
  }
}
