page-product-detail-line {
  .item-p16 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .item-p0 {
    padding-left: 0;
    padding-right: 0;
  }

  .card-m16 {
    margin: 16px;
    width: auto;
  }

  .font-16 {
    font-size: 16px;
  }
}
