page-sms {
  .sms-area {
    background-color: white;
    width: 100%;
    resize: none;
    border: 0;
    padding: 16px;
  }

  .divider-light {
    color: #878787;
    background-color: #f5f5f5;
    padding-left: 16px;
    padding-right: 8px;
  }

  .text-div {
    background-color: white;
    width: 100%;
  }
}
