page-report-index {
  .content-bg {
    background-color: #f7f7f7;
  }

  .list-ios {
    margin: -1px 0px 12px 0px;
  }

  .card-box {
    margin-bottom: 0px;
  }

  .arrow-up {
    font-size: 2.9rem;
    color: #FF4848;
  }

  .arrow-down {
    font-size: 2.9rem;
    color: #78C750;
  }

  .icon-arrow {
    vertical-align: text-top;
  }
}
