page-sms-detail {
  .p-line {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .p-light {
    color: #8e9093;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .span-line {
    float: right;
    color: #8e9093;
  }

  .div-block {
    padding: 10px 16px;
    background-color: white;
  }
}
