<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{kpi.period_name}}单据</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item-group *ngFor="let group of operates">
      <ion-item-divider sticky>
        <ion-label>
          {{group.member_name}}
        </ion-label>
        <ion-badge *ngIf="group.special" color="danger" item-right>专属会员</ion-badge>
      </ion-item-divider>
      <ion-item-sliding *ngFor="let line of group.operates">
        <ion-item>
          <h3>{{line.create_date}}</h3>
          <p>收银员:{{line.create_name}}</p>
          <p>单号:{{line.name}}</p>
          <p *ngIf="line.products">商品:{{line.products}}</p>
          <p *ngIf="line.comsumes">服务:{{line.comsumes}}</p>
          <p *ngIf="line.payments">支付:{{line.payments}}</p>
          <ion-note item-right>{{line.type_display}}</ion-note>
        </ion-item>
        <ion-item-options>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
  <div text-center class="no-item-div" *ngIf="!operates.length">
    <div class="no-item-icon-div">
      <ion-icon name="ios-paper-outline" class="no-item-icon"></ion-icon>
    </div>
    <div class="no-item-p">
      <p>暂无数据</p>
    </div>
  </div>
</ion-content>
