page-feedback-detail {
  .head-box{
    color:#FFFFFF;padding:1px 15px;
  }
  .head-item{
    padding:3px 0px;
  }
  .head-item-right{
   float:right;
  }
  .badge-right{
   float:right;
   background: #0C74C7;
  }
}
