page-product-detail {
  .item-p16 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .item-p0 {
    padding: 0;
  }

  .p-price {
    margin-top: 8px;
  }

  .font-16 {
    font-size: 16px;
  }
}
