page-charge-log {
  ion-list {
    background-color: white;
  }

  .div-date {
    background-color: rgb(245,245,245);
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: rgb(112,109,110);
    padding-left: 15px;
  }

  .div-item {
    border-bottom: 1px solid rgba( 29,29, 38,0.06);
    padding: 15px 15px 15px 0;
    display: flex;
    margin-left: 15px;
  }

  .div-item:last-child {
    border: 0;
  }

  .div-l {
    flex: 1;
  }

  .div-r {
    text-align: right;
  }

  .p-content {
    font-size: 12px;
    color: rgba( 29,29, 38,0.5);
    margin: 5px 0 0 0;
  }

  .p-title {
    font-size: 15px;
    color: rgb( 29,29, 38);
    margin: 0;
  }
}
