page-kpi {
  .content-bg {
    background-color: #EBEFED;
  }
  .card-box{
    margin-bottom: 0px;
  }
  .list-ios{
    margin:-1px 0px 6px 0px;
  }

  .percent{
    font-size:35px; color:#f35833;
  }
  .right-text{
    margin-left:30px;
    height:100%;
  }

  .no-data-box{
    padding:10px 0px;
    background-color:#FFFFFF;
  }

}
