
<ion-header>
  <ion-navbar no-border-bottom color="primary">
    <ion-title>
      新入会
    </ion-title>
    <ion-buttons end>
      <button ion-button (tap)="filter()">
        <span>筛选</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content style="background-color: #f7f7f7;">
  <div class="report-segment">
    <ion-segment [(ngModel)]="segment" (ionChange)="select_timezone(segment)">
      <ion-segment-button value="today">
        今日
      </ion-segment-button>
      <ion-segment-button value="yesterday">
        昨日
      </ion-segment-button>
      <ion-segment-button value="week">
        近七天
      </ion-segment-button>
      <ion-segment-button value="month">
        当月
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="report-card">
    <!--<div id="line1">设置边线<br><br><br></div>
    <div id="line2">设置虚线<br><br><br></div>-->
    <ion-row class="row_report">
      <ion-col class="col_left">
        <div *ngIf="flag_left" text-center style="color:#F00;font-size: 30px">{{report_data.member_new_percent}}%</div>
        <div *ngIf="!flag_left" text-center style="color:#F00;font-size: 30px;"><b>- -</b></div>
        <div text-center>同期比</div>
      </ion-col>
      <ion-col class="col_right">
        <div *ngIf="flag_right" text-center style="color:#F00;font-size: 30px">{{report_data.member_new_goal_percent}}%</div>
        <div *ngIf="!flag_right" text-center style="color:#F00;font-size: 30px;"><b>- -</b></div>
        <div text-center>目标达成率</div>
      </ion-col>
    </ion-row>
  </div>
  <div class="report-card">
    <div class="row_not_last">
      <ion-item no-lines>
        <ion-label text-left><b>会员总数</b></ion-label>
        <ion-label text-right><b>{{report_data.member_all}}</b></ion-label>
      </ion-item>
    </div>
    <div style="width:200px;margin:0 auto;">
      <chart style="width: 200px;height: 200px; margin:20px 0px 20px 0px;" #chart [options]="options"></chart>
    </div>
    <div>
      <ion-item no-lines><b>会员明细（2）</b></ion-item>
      <div>
        <ion-row id="row_member_active" class="row_not_last" center>
          <ion-col width-10>
            <div class="circle"></div>
          </ion-col>
          <ion-col width-90>
            <ion-item no-lines>
              <ion-label text-left>有效会员（人）</ion-label>
              <ion-label text-right>{{report_data.member_active}}</ion-label>
              <!--<ion-input type="text" text-right readonly value="{{report_data.member_active}}"></ion-input>-->
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row id="row_member_sleep" class="row_last" center>
          <ion-col width-10>
            <div class="circle"></div>
          </ion-col>
          <ion-col>
            <ion-item no-lines>
              <ion-label text-left>沉睡会员（人）</ion-label>
              <ion-label text-right>{{report_data.member_sleep}}</ion-label>
              <!--<ion-input type="text" text-right readonly value="{{report_data.member_sleep}}"></ion-input>-->
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
  <div class="report-card">
    <ion-item no-lines><b>新入会（人）</b></ion-item>
    <div text-center style="color:black;font-size: 30px">{{report_data.member_new}}</div>
  </div>
  <div class="report-card">
    <ion-item no-lines><b>体验客（人）</b></ion-item>
    <div text-center style="color:black;font-size: 30px">{{report_data.member_temp}}</div>
  </div>
  <div class="report-card">
    <ion-item no-lines><b>会员来店（人）</b></ion-item>
    <div text-center style="color:black;font-size: 30px">{{report_data.member_come}}</div>
  </div>
</ion-content>