<ion-header>
  <ion-navbar color="primary">
    <ion-title>用户</ion-title>
    <ion-buttons end>
      <button ion-button (tap)="create_user()">
        <span>添加</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher color="primary" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="下拉刷新..." refreshingText="正在努力加载中...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <button ion-item *ngFor="let consumer of consumers" (tap)="showDetail(consumer)">
      <ion-avatar item-left>
        <img *ngIf="consumer.image"  [src]="consumer.image" >
        <img *ngIf="!consumer.image" src="assets/img/avatar-default.png"  >
      </ion-avatar>
      <h3>{{ consumer.name }}</h3>
      <p>账号:{{ consumer.login }}</p>
      <p>{{consumer.login_date}}</p>
      <p>{{consumer.shop_name}}</p>
      <p>{{consumer.role_option}}</p>
      <!-- 最后登录时间   门店   角色 -->
    </button>
  </ion-list>
  <ion-infinite-scroll *ngIf="!complete" (ionInfinite)="doInfinite($event)" threshold="100px">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在努力加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>