page-home {

  .has-refresher .scroll-content {
    border-top: 0px;
  }

  .sides {
    height: 100%;
  }

  .icon28 {
    font-size: 28px;
  }

  .list-line {
    background-color: #EBEFED;
    height: 1px;
    margin: 0px 15px;
  }

  .list-box {
    background-color: #FFFFFF;
  }

  .card-box {
    min-height: 150px;
    background-color: #FFFFFF;
    margin-top: 10px;
  }

  .no-border {
    border: 0px;
  }

  .card-box-money {
    font-size: 20px;
  }

  .card-box-label {
    font-size: 13px;
    margin-top: 6px;
  }

  .list-ios {
    margin: -1px 0px 0px 0px;
  }

  .more {
    font-size: 13px;
    padding-top: 15px;
    border-top: solid 1px #EBEFED;
  }

  .more a {
    color: #666;
  }

  .box-title {
    font-size: 24px;
    padding: 0px;
  }


  .bnt-box {
    background-color: #ffffff;
  }

  .bnt-box-text {
    margin-top: 5px;
  }

  .row-line {
    padding: 4px 0px
  }

  .row-col {
    margin: 4px 0;
  }
}
