<ion-header>
  <ion-navbar color="primary">
    <ion-title>渠道商</ion-title>
    <ion-buttons end>
      <button ion-button (tap)="add()">
        <span>添加</span>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-searchbar placeholder="按名称搜索" color="danger" (ionCancel)="onCancel($event)"
                   (ionInput)="onInput($event)" [(ngModel)]="keyword"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content class="content-back">
  <ion-list>
    <ion-item-sliding *ngFor="let e of list">
      <button ion-item (tap)="edit(e)">
        <h2>{{e.name}}</h2>
        <p>分类：{{e.partner_category_name}}</p>
      </button>
      <ion-item-options side="right">
        <button ion-button color="danger" (tap)="delete(e)">
          删除
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div text-center class="no-item-div" *ngIf="!list.length">
    <div class="no-item-icon-div">
      <ion-icon name="ios-paper-outline" class="no-item-icon"></ion-icon>
    </div>
    <div class="no-item-p">
      <p>没有记录</p>
    </div>
  </div>

  <ion-infinite-scroll *ngIf="infiniteEnabled" (ionInfinite)="doInfinite($event)" threshold="100px">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在努力加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
