<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button (tap)="dismiss()">
        <span>取消</span>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content style="padding-top:5px;">
  <ion-item mode="ios" class="item-p16 font-16">
    <ion-label>名称<span color="danger" class="c-danger">*</span></ion-label>
    <ion-input type="text" text-right required [(ngModel)]="cat.name" onfocus="this.select()"></ion-input>
  </ion-item>
  <button ion-item (tap)="selectPosCat()" class="item-p16">
    <ion-label>上级分类</ion-label>
    <ion-note *ngIf="cat.parent_name" item-right>{{cat.parent_name}}</ion-note>
    <ion-note *ngIf="!cat.parent_name" item-right>请选择分类</ion-note>
  </button>
  <ion-item mode="ios" class="item-p16 font-16">
    <ion-label>序号</ion-label>
    <ion-input type="number" text-right [(ngModel)]="cat.sequence" onfocus="this.select()"></ion-input>
  </ion-item>
  <ion-item mode="ios" class="item-p16 font-16">
    <ion-label>简介</ion-label>
    <ion-input type="text" text-right [(ngModel)]="cat.description" onfocus="this.select()"></ion-input>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-toolbar no-border-top no-border-bottom>
    <ion-row text-center>
      <ion-col>
        <button ion-button (tap)="save()" type="submit" color="primary" block>保存</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

