<ion-header>
  <ion-navbar color="primary">
    <ion-title>库位</ion-title>
    <ion-buttons end>
      <button ion-button (tap)="add()" *ngIf="mode !== 'select'">
        添加
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="content-back">
  <ion-refresher color="primary" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="下拉刷新..." refreshingText="正在努力加载中...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let i of list" (tap)="edit(i)">
      <h2>{{i.name}}</h2>
      <p>库存类型：{{i.usage_name}}</p>
    </ion-item>
  </ion-list>
  <div text-center class="no-item-div" *ngIf="!list.length">
    <div class="no-item-icon-div">
      <ion-icon name="ios-paper-outline" class="no-item-icon"></ion-icon>
    </div>
    <div class="no-item-p">
      <p>没有记录</p>
    </div>
  </div>
</ion-content>
