page-about-config {
  .line {
    opacity: 1 !important;
  }

  .line-8 {
    opacity: 0.8 !important;
  }

  .div-list {
    margin: 0;
  }

  .border-0 {
    border-top: 0 !important;
    border-bottom: 0 !important;
  }
}
