page-stock {
  .title-col {
    text-align: center;
  }

  .title-row {
  }

  .title-grid {
  }

  .title-icon {
    color: white;
    font-size: 28px;
  }

  .title-p {
    color: white;
    margin: 5px 0;
  }
}
