page-about-detail {
  .avatar {
    margin-top: 0;
    margin-bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .line {
    opacity: 1 !important;
  }

  .div-list {
    margin: 0;
  }

  .border-0 {
    border-top: 0 !important;
    border-bottom: 0 !important;
  }
}
