page-about-permission {
  .div-list {
    margin: 0;
  }

  .icon-1 {
    color: #1D82D2;
  }

  .icon-2 {
    color: #EF470E;
  }

  .border-0 {
    border-top: 0 !important;
    border-bottom: 0 !important;
  }
}
